pkgbase = linux-mooteel
	pkgver = 4.11.5
	pkgrel = 1
	url = https://www.kernel.org/
	arch = x86_64
	license = GPL2
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = libelf
	options = !strip
	source = https://www.kernel.org/pub/linux/kernel/v4.x/linux-4.11.tar.xz
	source = https://www.kernel.org/pub/linux/kernel/v4.x/linux-4.11.tar.sign
	source = https://www.kernel.org/pub/linux/kernel/v4.x/patch-4.11.5.xz
	source = https://www.kernel.org/pub/linux/kernel/v4.x/patch-4.11.5.sign
	source = config.x86_64
	source = 90-linux.hook
	source = linux.preset
	source = add-acs-overrides.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = b67ecafd0a42b3383bf4d82f0850cbff92a7e72a215a6d02f42ddbafcf42a7d6
	sha256sums = SKIP
	sha256sums = 1686ea3200069acd7869075a208ad6771c651b4f9d942b4a340fb8606c75fe13
	sha256sums = SKIP
	sha256sums = 1c3e06fca7e6f5d09736b62165b6bbef6eefbe96c323d89f75fe6f02a6413cf7
	sha256sums = 124968e1caf2d461fff05055ad9332b8b9ff348bd87f5eba96b6a98a23c72a85
	sha256sums = 18880f98eb9aab7d894a4521fde4bb4e3c4df94cbc2765a59dc42a3d553ec5e9
	sha256sums = 66f637bfdf903a774cfe2d1a5bbcbd7a179259a922369475203819d9bbbcbaf2

pkgname = linux-mooteel
	pkgdesc = The Linux-mooteel kernel and modules
	install = linux.install
	depends = coreutils
	depends = linux-firmware
	depends = kmod
	depends = mkinitcpio>=0.7
	optdepends = crda: to set the correct wireless channels of your country
	backup = etc/mkinitcpio.d/linux-mooteel.preset

pkgname = linux-mooteel-headers
	pkgdesc = Header files and scripts for building modules for Linux-mooteel kernel

pkgname = linux-mooteel-docs
	pkgdesc = Kernel hackers manual - HTML documentation that comes with the Linux-mooteel kernel

